{% extends "web/layout.html" %}

{% block body %}
<div class="container">
    <h2>Login</h2>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login_view' %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Your username</label>
            <input autofocus class="form-control" type="text" name="username" placeholder="User name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Your password</label>
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>

        <input class="btn btn-dark" type="submit" value="Login">
    </form>
    <br>
    <p>Don't have an account?</p> <a href="{% url 'register' %}" class="text-warning">Register here.</a>
</div>
{% endblock %}