<div class="col-md-12 card mb-4  mt-3 ">
    <div class="card">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <i class="bi bi-chat-dots"></i> Comments:
            {% with comments.count as total_comments %}
            {{ total_comments }}
            {% endwith %}
        </span>
        <div class="card-body">
            {% for comment in comments %}
            <div class="card-body" style="width: 50%;">
                <h5 class="card-title">Created by:
                    {% for i in all_users %}
                    {% if i.profile.id == article.article_author.id  %}
                    <img class="rounded" src="{{i.user_photo }}" alt="Your profile photo" width="40">
                    {% endif %}
                    {% endfor %}
                    {{ comment.user }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{comment.comment_content}}</h6>
                <a href="#" class="card-link">Check {{ comment.user }} Profile</a>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>